* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 300px;
  height: 150px;
  border: 3px solid red;
  margin: 20px;
  background-color: aquamarine;
  transition-property: all;
  /* transition-delay: 2s; */
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.container:hover {
  width: 600px;
  background-color: #000;
}
