* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow-x: none;
}

.navContainer {
  width: 100vw;
  background: #02e7eb;
  background: linear-gradient(
    0deg,
    rgba(2, 231, 235, 1) 0%,
    rgb(45, 111, 253) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  padding: 15px;
}

.navList {
  width: 100%;
  /* margin-left: 15px; */
  /* margin-right: 15px; */
  list-style: none;
  min-height: 80px;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  display: flex;
  gap: 25px;
  align-items: center;
}

.navLinks a {
  color: whitesmoke;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
}

.navLogo {
  color: whitesmoke;
  font-size: 2.1rem;
}

.footerBox {
  background: #02e7eb;
  background: linear-gradient(
    0deg,
    rgba(2, 231, 235, 1) 0%,
    rgb(45, 111, 253) 100%
  );
  width: 100%;
  min-height: 40px;
}

.footerBox p {
  color: whitesmoke;
  text-align: center;
}

.contentBox {
  width: 70%;
  margin: auto;
  border: 1px solid black;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.item {
  display: flex;
  justify-content: space-between;
}

.rightBox img {
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}
