*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    
    max-width: 1200px;
    margin: 2px auto;
    padding: 2px;
    background-color: beige;
    border: 4px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
   
}

.box{
    height:200px;
    width: 200px;
    border: 5px solid red;
}

#box1{
    background-color: aqua;
}

#box2{
    background-color: coral;
}

#box3{
    background-color: lightgreen;
}

#box4{
    background-color: lightpink;
}

