* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  background: #2e2787;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card {
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  gap: 20px;
}

.card img {
  width: 100%;
  height: 45%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8.5px;
  padding: 0.7rem;
}
