* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  background: #2e2787;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card {
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  gap: 20px;
}

.card img {
  width: 100%;
  height: 45%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding: 0rem;
}

.textBox h2 {
  font-size: 1.3rem;
  color: #333;
}

.textBox p {
  font-size: 0.9rem;
  color: #777;
  line-height: 1.3rem;
}

#amountBox {
  width: 80%;
  height: 9%;
  border-radius: 7.5px;
  background-color: #8bc6ec;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0rem 1rem;
}

#amountBox img {
  width: 20%;
  height: 20%;
}

.rightBox a {
  font-weight:500;
  color: rgb(40, 39, 39);
}

#amountBox .leftBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.planDetails {
  display: flex;
  flex-direction: column;
  font-size: small;
  font-weight: bold;
}

#paymentButton {
  width: 80%;
  height: 9%;
  border: none;
  border-radius: 7.5px;
  background-color: #0b0d36;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 0.3s linear 0.1s;
}

#paymentButton:hover {
  background-color: #fff;
  color: #0b0d36;
  border: #0b0d36 2px solid;
}

.cancelLink a {
  text-decoration: none;
  color: rgb(40, 39, 39);
  line-height: 1.2rem;
}
