* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  border: 10px solid black;
  background-color: beige;
}

.box {
  width: 350px;
  height: 90px;
  background: blueviolet;
  margin: 20px;
  border-radius: 20px;
  border: 5px solid red;
  position: relative;
  animation-name: moveRight;
  animation-duration: 5s;
  animation-delay: -2s;
  animation-iteration-count: 1;
  /* animation-direction: alternate; */
  animation-fill-mode: both;
}

@keyframes moveRight {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: 0;
    left: 500px;
  }
}
